<html>
<head>
<title>NLPedia-Forecast</title>
</head>
<body>
<h1>NLPedia-Forecast</h1><br>
<div class = 'Main_content'>

          {{content.text_1}}<!--generic about inflation--><br>

          {{content.text_11}}<!-- your loss due to inflation -->
          <br>
          <!-- what they should do -->
          {{content.advice}}<br>
          <a href ={{content.link}}>learn more</a><br>
</div>

        <!-- image of their savings decaying -->
        <img src="data:image/png;base64,{{ plot_url }}"><br>



        <a href  = "/">home</a>

</body>
</html>
