<html>
<head>
<style>
/* This is intended to scale elements based on size of screen */
html,body{
height : 100%;
}
h1{
margin : 0 auto;
font-size : 7.5vw;
}
div{
height : 100%;
}
p{
margin : 0 auto;
font-size : 2vw;
}
form{
margin : 0 auto;
font-size : 2vw;
}
button{
margin : 0 auto;
font-size : 2vw;
}
select{
margin : 0 auto;
font-size : 2vw;
}
a{
margin : 0 auto;
font-size : 2vw;
}
img {
width:75%;
height:auto;
}
.center{
  text-align: left;
  width: 65%;
  height: auto;
}
</style>
<!-- for an only numbers input box-->
<script>
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}
</script>

<title>VARDER-Forecast</title>
</head>
<body>
<!-- center everything -->
<center>
  <div>
    <h1>VARDER-Forecast</h1><br>
    <div class = 'center'>
        <p>
        {{content.message|safe}}<!--message based on forecast--><br>
        <br>
        {{content.examples|safe}}
        </p>
    </div>

<!-- image of their savings decaying -->
<img src="data:image/png;base64,{{ plot_url }}"><br>


<br>
<!-- back test section  -->

<!-- get input from the user  -->
<div class="center">
  <p>Test VARDER on historical prices</p>
<form  action="/VARDERfc" method="GET"><!--action gives result page -->

<!--  balance  input -->
<label for="savings">Bank Balance:</label>
  <input type="number" name="savings" onkeypress="return isNumberKey(event)" />
  <!--
  <select name="savings">
    <option value="3000">3,000</option>
    <option value="5000">5,000</option>
    <option value='10000'>10,000</option>
    <option value ='20000'>20,000</option>
  </select>--><br>

<!--  time horizon  input -->
<label for="horizon">Time  Horizon:</label>
  <select name="horizon">
    <option value="3months">3 months</option>
    <option value="6months">6 months</option>
    <option value="12months">12 months</option>
  </select><br>

<!--  back test year  input -->
<label for="bt_year">Year:</label>
  <select name="bt_year">
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
    <option value="2005">2005</option>
    <option value="2004">2004</option>
    <option value="2003">2003</option>
                  </select><br>

  <!--  back test year  input -->
  <label for="bt_month">Month:</label>
    <select name="bt_month">
    <option value="01">Jan</option>
    <option value="02">Feb</option>
    <option value="03">Mar</option>
    <option value="04">Apr</option>
    <option value="05">May</option>
    <option value="06">Jun</option>
    <option value="07">Jul</option>
    <option value="08">Aug</option>
    <option value="09">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
                        </select><br>
        <!--<input type="text"  min="1" max="100" value="50" name='input_val'>
         -->

<!-- click a button --->
<button type="submit" class="btn btn-default btn-lg">
Back Test!
</button>
</form>
</div><!-- end form div (for text aligning)-->


<a href  = "/">home</a>
</div>
</center>
</body>
</html>
